@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
  margin: 0;
  background-color: #302112;
  user-select: none;
  -webkit-user-select: none;
  font-family: 'Poppins', sans-serif;
}

.input_to_form {
  letter-spacing: 3px;
  font-weight: 500;
  user-select: none;
  margin-bottom: 1.5em;
  font-size: 1.3em;
  text-align: center;
  height: 1.75em;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  border: 0;
  transition-duration: 0.4s;
  background-color: white;
}

.input_to_form:hover {
  width: 61%;
  background-color: rgb(239, 255, 222);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}

.input_to_form:focus {
  width: 66%;
  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#map {
  height: 99.6vh;
}

#mapDiv {
  position: relative;
}

.point {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  box-shadow: 0 0 120px 100px red;
}
