body {
  margin: 0;
  background-color: #302112;
  user-select: none;
  -webkit-user-select: none;
}

#map {
  height: 99vh;
}

#mapDiv {
  position: relative;
}

.point {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;

}
