@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
  margin: 0;
  background-color: #302112;
  user-select: none;
  -webkit-user-select: none;
  font-family: 'Poppins', sans-serif;
}

.input_to_form {
  letter-spacing: 3px;
  font-weight: 500;
  user-select: none;
  margin-bottom: 1.5em;
  font-size: 1.3em;
  text-align: center;
  height: 1.75em;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  border: 0;
  transition-duration: 0.4s;
  background-color: white;
}

.input_to_form:hover {
  width: 61%;
  background-color: rgb(239, 255, 222);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}

.input_to_form:focus {
  width: 66%;
  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#map {
  height: 99.6vh;
}

#mapDiv {
  position: relative;
}

.point {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  box-shadow: 0 0 120px 100px red;
}

.submit_button {
  margin-bottom: 20px;
  min-width: 160px;
  height: 60px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: whitesmoke;
  background-color: mediumspringgreen;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease 0s;
  cursor: pointer;
  outline: none;
}

.submit_button:hover {
  background-color: rgb(5, 87, 55);
  box-shadow: 0px 15px 20px rgba(173, 255, 0, 0.53);
  transform: translateY(-3px);
}

.submit_button:active {
  background-color: mediumaquamarine;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(+1px);
}